{
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [2, { "peerDependencies": true }],
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }]
  }
}
